@model Guarantee
<div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
    <div class="info">
        <div class="r!importantw">
            <div class="col-md-11 mx-auto">
                <div class="row">

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <partial name="~/Views/Shared/Generic/_SaveAndCancelButton.cshtml" model="@("right")" />
                        <br />
                        <br />
                    </div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="IsDelete" />

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label asp-for="GuaranteeUserId"></label>
                            <select asp-for="GuaranteeUserId" asp-items="ViewBag.listGuaranteeUser" class="form-control">
                                <option value="">-- انتخاب --</option>
                            </select>
                            <span asp-validation-for="GuaranteeUserId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label asp-for="BankName"></label>
                            <select asp-for="BankName" asp-items="@ViewBag.listBankName" class="form-control">
                                <option value="">-- انتخاب --</option>
                            </select>
                            <span asp-validation-for="BankName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div role="form">
                            <div class="form-group">
                                <label asp-for="ChequeNumber"></label>
                                <input asp-for="ChequeNumber" class="form-control mb-4" onclick="select()" />
                                <span asp-validation-for="ChequeNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div role="form">
                            <div class="form-group">
                                <label asp-for="ChequePrice"></label>
                                <input asp-for="ChequePrice" class="form-control mb-4" onkeyup="formatNumber(this.id, this.value)" onclick="select()" />
                                <span asp-validation-for="ChequePrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div role="form">
                            <div class="form-group">
                                <label asp-for="BankDraftNumber"></label>
                                <input asp-for="BankDraftNumber" class="form-control mb-4" onclick="select()" />
                                <span asp-validation-for="BankDraftNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div role="form">
                            <div class="form-group">
                                <label asp-for="BankDraftPrice"></label>
                                <input asp-for="BankDraftPrice" class="form-control mb-4" onkeyup="formatNumber(this.id, this.value)" onclick="select()" />
                                <span asp-validation-for="BankDraftPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div role="form">
                            <div class="form-group">
                                <label asp-for="PaySlip"></label>
                                <textarea asp-for="PaySlip" class="form-control"></textarea>
                                <span asp-validation-for="PaySlip" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div role="form">
                            <div class="form-group">
                                <label asp-for="GoldGuarantee"></label>
                                <textarea asp-for="GoldGuarantee" class="form-control"></textarea>
                                <span asp-validation-for="GoldGuarantee" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div role="form">
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/Generic/_SaveAndCancelButton.cshtml" model="@("left")" />