@model Tuple<PaginationInfo,object>

@{ int PageNumber = Model.Item1.PageNumber;
    int PageCount = Model.Item1.PageCount;

    int PageStrat = ((PageNumber - 1) * PageCount) + 1;

    int PageEnd = PageCount * PageNumber;
    PageCount = PageStrat + PageCount;

    if (PageCount > Model.Item1.TotalItemCount)
    {
        PageCount = Model.Item1.TotalItemCount;
    }
}
<br />
<div class="row">
    <div class="offset-md-5 col-md-4">
        <div class="" id="">
            @Html.PagedListPager((IPagedList)Model.Item1, x => Url.Action("Index", new
       {
            userIdentityId = ViewBag.userIdentityId,
            loanReceiverId= ViewBag.loanReceiverId,
            loanAmount = ViewBag.loanAmount,
            percentSalary = ViewBag.percentSalary,
            accountNumber= ViewBag.accountNumber,
            paymentStartDateFrom = ViewBag.paymentStartDateFrom,
            paymentStartDateTo= ViewBag.paymentStartDateTo,
            numberOfInstallments= ViewBag.numberOfInstallments,
            registerDateFrom = ViewBag.registerDateFrom,
            registerDateTo = ViewBag.registerDateTo,
            isdone= ViewBag.isdone,


            pageNumber = x,
            pageSize = ViewBag.pageSize,
            sortColumn = ViewBag.sortColumn,
            //lastColumn = ViewBag.lastColumn,
            isDesc = ViewBag.isDesc
       }), new X.PagedList.Web.Common.PagedListRenderOptions
       {
           PageClasses = new string[] { "page-link" },
           UlElementClasses = new string[] { "pagination" },
           LiElementClasses = new string[] { "page-item" },
           //DisplayItemSliceAndTotal = true,
           //DisplayPageCountAndCurrentLocation=true,
           MaximumPageNumbersToDisplay = 5,
           DisplayLinkToFirstPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
           DisplayLinkToLastPage = X.PagedList.Web.Common.PagedListDisplayMode.Always,
       })
        </div>
    </div>
    <div class="col-md-3">
        نمایش رکوردهای @(Model.Item1.PageCount < Model.Item1.PageNumber ? 0 : PageStrat) الی @PageCount  از  @Model.Item1.TotalItemCount رکورد
    </div>
</div>
